
<div class="row">
  <div class="col-md-4">
    {{#user}}
      <table class="table table-bordered">
        <h1>User</h1>
        <tr>
          <th>User ID</th>
          <td>{{user.ID}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{user.Auth.Name}}</td>
        </tr>
        <tr>
          <th>Username</th>
          <td>{{user.Auth.Username}}</td>
        </tr>
        <tr>
          <th>Last Seen</th>
          <td>{{user.LastSeenStamp}}</td>
        </tr>
        <tr>
          <th>Photo</th>
          <td class="text-center"><img src="{{user.Auth.ProfilePhoto}}?sz=150" /></td>
        </tr>
        <tr>
          <th>Admin</th>
          <td>
            {{#user.IsAdmin}}
              <span class="glyphicon glyphicon-ok"></span>
            {{/user.IsAdmin}}
            {{^user.IsAdmin}}
              <span class="glyphicon glyphicon-remove"></span>
            {{/user.IsAdmin}}

            {{#authUser.IsAdmin}}
              <form method="post" action="{{user.ProfileLink}}">
                {{#user.IsAdmin}}
                  <input type="hidden" name="IsAdmin" value="false" />
                  <input type="submit" name="renew" value="Remove Admin" class="btn btn-warning" />
                {{/user.IsAdmin}}
                {{^user.IsAdmin}}
                  <input type="hidden" name="IsAdmin" value="true" />
                  <input type="submit" name="renew" value="Make Admin" class="btn btn-warning" />
                {{/user.IsAdmin}}
              </form>
            {{/authUser.IsAdmin}}
          </td>
        </tr>
      </table>
    {{/user}}
  </div>

  <div class="col-md-4">
    {{#auth}}
      <h1>Auth</h1>
      <table class="table table-bordered">
        <tr>
          <th>Auth ID</th>
          <td>{{auth.ID}}</td>
        </tr>
        <tr>
          <th>Provider</th>
          <td>{{auth.Provider}}</td>
        </tr>
        <tr>
          <th>Provider ID</th>
          <td>{{auth.ProviderId}}</td>
        </tr>
        <tr>
          <th>Auth Expires</th>
          <td>{{auth.AuthExpiresIn}}</td>
        </tr>
        <tr>
          <th>Oauth Expires</th>
          <td>
            <p>{{auth.TokenExpiresIn}}
          </td>
        </tr>
      </table>
    {{/auth}}
  </div>

  <div class="col-md-4">
    {{#spotify.Exists}}
      <h1>Spotify</h1>
      <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <td>{{spotify.ID}}</td>
        </tr>
        <tr>
          <th>Auth ID</th>
          <td>{{spotify.Auth.ID}}</td>
        </tr>
        <tr>
          <th>Provider ID</th>
          <td>{{spotify.Auth.ProviderId}}</td>
        </tr>
      </table>
    {{/spotify.Exists}}

    <a class="btn btn-primary pull-right" href="{{spotifyLogin}}">Link</a>
  </div>
</div>
