<div class="row">
  <div class="col-md-4">
    <h1>{{user.Name}}</h1>
    <table class="table table-bordered">
      <tr>
        <th>User ID</th>
        <td>{{user.ID}}</td>
      </tr>
      <tr>
        <th>Auth ID</th>
        <td>{{auth.ID}}</td>
      </tr>
      <tr>
        <th>Provider</th>
        <td>{{auth.Provider}}</td>
      </tr>
      <tr>
        <th>Last Seen</th>
        <td>{{user.LastSeenStamp}}</td>
      </tr>
      <tr>
        <th>Photo</th>
        <td class="text-center"><img src="{{user.ProfilePhoto}}?sz=150" /></td>
      </tr>
      <tr>
        <th>Provider ID</th>
        <td>{{auth.ProviderId}}</td>
      </tr>
      <tr>
        <th>Auth Expires</th>
        <td>{{auth.AuthExpiresIn}}</td>
      </tr>
      <tr>
        <th>Admin</th>
        <td>
          {{#user.IsAdmin}}
            <span class="glyphicon glyphicon-ok"></span>
          {{/user.IsAdmin}}
          {{^user.IsAdmin}}
            <span class="glyphicon glyphicon-remove"></span>
          {{/user.IsAdmin}}

          {{#authUser.IsAdmin}}
            <form method="post" action="{{user.ProfileLink}}">
              {{#user.IsAdmin}}
                <input type="hidden" name="IsAdmin" value="false" />
                <input type="submit" name="renew" value="Remove Admin" class="btn btn-warning" />
              {{/user.IsAdmin}}
              {{^user.IsAdmin}}
                <input type="hidden" name="IsAdmin" value="true" />
                <input type="submit" name="renew" value="Make Admin" class="btn btn-warning" />
              {{/user.IsAdmin}}
            </form>
          {{/authUser.IsAdmin}}
        </td>
      </tr>
      <tr>
        <th>Oauth Expires</th>
        <td>
          <p>{{auth.TokenExpiresIn}}
          <form method="post" action="{{user.ProfileLink}}/renewToken">
            <input type="submit" name="renew" value="Renew oAuth Token Now" class="btn btn-info" />
          </form>
        </td>
      </td>

    </table>
  </div>
</div>
