<div class="row">
  <table class="table table-striped table-bordered">
    <tr>
      <th>ID</th>
      <th>Auth</th>
      <th>Name</th>
      <th>Provider</th>
      <th>Last Seen</th>
      <th>Admin</th>
      <th>Spotify</th>
    </tr>

    {{#users}}
      <tr>
        <td><a href="{{ProfileLink}}">{{ID}}</a></td>
        <td><a href="{{Auth.Url}}">{{Auth.ID}}</a></td>
        <td>{{Auth.Name}} ({{Auth.Username}})</td>
        <td>{{Auth.Provider}}</td>
        <td>{{LastSeenStamp}}</td>
        <td>
          {{#IsAdmin}}
            <span class="glyphicon glyphicon-ok"></span>
          {{/IsAdmin}}
          {{^IsAdmin}}
            <span class="glyphicon glyphicon-remove"></span>
          {{/IsAdmin}}
        </td>
        <td>
          {{#HasSpotify}}
            <span class="glyphicon glyphicon-ok"></span>
          {{/HasSpotify}}
          {{^HasSpotify}}
            <span class="glyphicon glyphicon-remove"></span>
          {{/HasSpotify}}
        </td>
      </tr>
    {{/users}}
  </table>
</div>
